/******** DEFAULT ATTRIBUTES *************/

* {
  position: relative;
  float: left;
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration:none;
  font-size:13px;
}

input,
textarea,
select {
  display: inline-block;
  width: 210px;
  padding: 4px;
  font-size: 13px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input[type=checkbox] {
    width:auto;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
select {
  display: inline-block;
  width: 210px;
  padding: 4px;
  font-size: 13px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}