<div class="footer full_width">
  <div class="footer_link_container">
    <a class="footer_link" href="#"><%= (t "footer.about_us") %></a>
    <a class="footer_link" href="#"><%= (t "footer.terms_of_use") %></a>
    <a class="footer_link" href="#"><%= (t "footer.contact_us") %></a>
  </div>
</div>