<h2 class="page_name"><%= (t "show_people")%></h2>
	
  <%= paginated_collection_content(@people, @table_id, [(t "list_attributes.id"),(t "list_attributes.name"),(t "list_attributes.email"), (t "list_attributes.phone_number"), (t "list_attributes.birthday"), (t "list_attributes.general_actions")]) %>
  <%= paginate_footer(@people) %>
