<div class='field'>
  <%= f.input :password, :label=> (t "list_attributes.password"), :label_html => {:class => "form_label"} %>
</div>
<div class='field'>
  <%= f.input :password_confirmation, :label=> (t "list_attributes.password_confirmation"), :label_html => {:class => "form_label"} %>
</div>