<div class="container" id="new_links" style="display:none;">
	<div class="container message" id="new_message"><%= (t "home_page.new") %></div>
	<a class="home_page_link" id="new_house" href="<%= new_house_path %>" onclick='$("#new_links").hide()'><%= (t "home_page.new_house") %></a>
	<a class="home_page_link" id="new_car" href="#" onclick='$("#new_links").hide()'><%= (t "home_page.new_car") %></a>
</div>