<div class="container" id="search_links" style="display:none;">
	<div class="container message" id="search_message"><%= (t "home_page.search") %></div>
	<a class="home_page_link" id="search_house" href="#" onclick='$("#search_links").hide()'><%= (t "home_page.search_house") %></a>
	<a class="home_page_link" id="search_car" href="#" onclick='$("#search_links").hide()'><%= (t "home_page.search_car") %></a>
</div>