<div class="image_world text item_name">
  <%= work.name %>
</div>
<div class="image_world text item_seperator"> | </div>
<div class="image_world text item_description">
  <%= work.description %>
</div>