<div class="image_world text item_name">
  <%= image.work.name %> (<%= image.version %>)
</div>
<div class="image_world text item_seperator"> | </div>
<div class="image_world text item_description">
  <%= image.note %>
</div>